{% extends 'layout.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-2">
            <div></div>
        </div>
        <div class="col-8">
            <form action="/updatapage" method="post" enctype="multipart/form-data">
                <table class="table mt-3 text-center">
                    <tr>
                        <td colspan="2">
                            <h1>Update page</h1>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="form-label">Id :</label></td>
                        <td><input type="hidden" name="userid" value="{{dt[0]}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="form-label">Name :</label></td>
                        <td><input type="text" name="vnm" value="{{dt[1]}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="form-label">E-mail :</label></td>
                        <td><input type="email" name="vem" value="{{dt[2]}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="form-label">Password :</label></td>
                        <td><input type="password" name="vpass" value="{{dt[3]}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="form-label">Contact :</label></td>
                        <td><input type="number" name="vcon" value="{{dt[4]}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="form-label">Image :</label></td>
                        <td><input type="file" name="vfile" class="form-control"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit" id="sbtn" class="btn btn-danger">Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}